body{
   height: 3000px;

}
.bottom-right{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.right-sidebar{
    background-color: green;
    color: white;
    position: fixed;
    right: 0; /* 0 from the right */
    top: 0; /* 0 from the top */
    bottom: 0; /* 0 from the botttom */
    width: 200px;
}

.black-background{
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}