.flexbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.block1{
    width: 200px;
    background-color: lightblue;
    display: flexbox;
}
.block2{
    width: 75px;
    background-color: lightpink;
    display: flexbox;
}

.item{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.item1{
    width: 50px;
    background-color: lightblue;
}
.item2{
    flex: 1; /* remaining space */
    background-color: lightpink;
}
.item3{
    width: 75px;
    background-color: lightblue;
}


.vier-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.item-1,
.item-2,
.item-3,
.item-4{
    background-color: lightpink;
}

.two-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    height: 50px;
    align-items:center;
    
    
}
.item_1,
.item_2{
    background-color: lightpink;
}